* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "Exo", sans-serif; */
}

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-clip: content-box;
  background-color: #2196f3;
}

.MuiAlert-message {
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.MuiAlert-message .MuiTypography-root {
  font-size: 1vw;
}

@media only screen and (max-width: 850px) {
  .MuiAlert-message .MuiTypography-root {
    font-size: 2vw;
  }
}
input:focus,
textarea:focus {
  border: none !important;
}

.font-font {
  font-family: "Urbanist", sans-serif !important;
  line-height: 1;
  text-align: left;
}

@media (max-width: 600px) {
  .timeline-head {
    font-size: x-large !important;
  }

  .join-community {
    font-size: 2.5rem !important;
  }
  h5 {
    font-size: 1.1rem !important;
  }
  .elves-of-elysium {
    font-size: 50px !important;
  }
  p {
    font-size: 1rem !important;
  }
}
.roadmap-section p {
  font-size: 1rem !important;
}
